/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    background-image: url('ComedorLPT72.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

/* Foto de perfil */
.foto-perfil {
    width: 350px;
    height: 350px; /* CUADRADA */
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Títulos y texto */
h1 {
    color: #d70f0f;
}

h3, h4 {
    color: white;
}

p {
    font-size: 1.2em;
    color: #f2f2f2;
}

/* Contenedor de botones */
.botones-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

button {
    background-color: #f5f5dc;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #d70f0f;
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Foto del comedor */
.foto-comedor {
    width: 350px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}
